@charset "utf-8";
.chunk{
    background-color: #e16544;
    padding: 1.7%;
}
.chunk h1{
    font-family: serif;
    text-align: center;
    font-size: 125%;
    color: #ffffff;
}
.button{
    text-align: center;
    margin: 0.3% 40%;
    padding: 0.3% 0;
    background-color: #e16544;
    border-radius: 5px;
}
.button p{
    font-family: serif;
    color: #ffffff;
}