<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/reset.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
    <title>start</title>
</head>
<body>
    <div class="wrap">
        <div class="chunk">
            <div id="title">
                <h1>Get to a healthy<br>weight with friends</h1>
                <p>友人と体重の増減を共有して、<br>健康な体を目指しましょう。</p>
            </div>
            <a href="/login" class="login_button">
                <div id="button">
                    <P>START</P>  
                </div>
            </a>
        </div>
    </div>
</body>
</html>