<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>データ入力</title>
  </head>
  <body>
    <div class="wrap">
        <form method="POST" action="/input">
            <label for="record_date">日付を選択:</label>
            <input type="date" id="record_date" name="record_date" required>
            
            <label for="weight">体重を入力:</label>
            <input type="number" id="weight" name="weight" step="0.1" required>
            
            <button type="submit">記録する</button>
        </form>
    </div>
  </body>
</html>
