<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/reset.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/login.css')}}">
    <title>ログイン</title>
</head>
<body>
    <div id="wrap">
        <div class="chunk">
            <h1>ログイン</h1>
            <p>メールアドレス</p>
            <p>パスワード</p>
            <a href="/main" class="main_button">
                <div id="main">
                    <p>login</p>  
                </div>
            </a>
            <p>アカウントをお持ちでない方はこちら</p>
            <a href="/register" class="register_button">
                <div id="register">
                    <p>新規作成</p>  
                </div>
            </a>
        </div>
    </div>
</body>
</html>
<!-- 色は#7d5d02 -->