<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/reset.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/setting.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/footer.css')}}">
    <title>ユーザー情報</title>
  </head>
  <body>
    <div class="wrap">
      <div class="chunk">
        <h1>設定</h1>
      </div>
      <div class="up">
        <div class="profile">
          <h1>プロフィール</h1>
          <table>
            <p>ニックネーム</p>
            <p class="in">{{data[1][1]}}</p>
          </table>
          <table>
            <p>プロフィール画像</p>
            <p class="in">
              <img src="{{data[1][5]}}"/>
            </p>
          </table>
          <table>
            <p>目標達成日</p>
            <p class="in">{{data[1][6]}}</p>
          </table>
          <table>
            <p>身長</p>
            <p class="in">{{data[1][4]}}cm</p>
          </table>
        </div>
        <!-- <div class="app_information">
          <h1>アプリ情報</h1>
          <p>体重の公開</p>
          <p>パートナーの解除</p>
        </div> -->
      </div>
      
      <footer>
        <div class="fot">
          <div class="fot_chunk">
            <a href="/main_friend" class="main_fot">
              <div class="other">
                <img src="../static/images/home_g.png"/>
                <p>ホーム</p>
              </div>
            </a>
            <a href="/confirmation_friend" class="confirmation_fot">
              <div class="other">
                <img src="../static/images/check_g.png">
                <p>記録確認</p>
              </div>
            </a>
            <a href="/input_friend" class="input_fot">
              <div class="other">
                <img src="../static/images/input_g.png">
                <p>記録</p>
              </div>
            </a>
            <a href="/graph_friend" class="graph_fot">
              <div class="other">
                <img src="../static/images/graph_g.png">
                <p>グラフ</p>
              </div>
            </a>
            <a href="/setting_friend" class="setting_fot">
              <img src="../static/images/setting.png">
              <div class="now">
                <p>設定</p>
              </div>
            </a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
